.footer{    
    color:rgb(210, 181, 181);
    -webkit-text-stroke: .5px rgb(63, 59, 59);
    -webkit-text-fill-color: rgb(210, 181, 181);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-image: url('../../assets/cropped-back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 
        0 0 10px rgba(150, 97, 97, 0.13), 
        inset 0 0 10px rgba(0, 0, 0, 0.12);

    mask-image: linear-gradient(
        to top,
        rgb(27, 21, 21) 90%,
        transparent 105%
    );
}

.social-links{
    display: flex;
    justify-content: center;
    gap: 1rem;    
}

.social-links a {
    font-size: 2em;
    color: inherit;
}

.galery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Adjust the gap between items */
  }
  
  /* Style for individual image containers */
  .galery > div {
    overflow: hidden; /* Prevents images from overflowing the container */
  }

  .image-container{
    width: 100%; /* Ensures the container takes the full width of its grid cell */
    overflow: hidden; 
  }

  .event-image{
    width: 100%;
  }
  
  /* Responsive adjustments for mobile views */
  @media (max-width: 768px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr); /* Changes to a 2-column layout on smaller screens */
    }
  }